*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(21,17,14);
    padding: 2vmax;
    overflow: hidden;
}

#main #fimage{
    width: 30%;
    height: 82vh;
    position: relative;
    bottom: 98%;
    left: -60%;
    /* background-color: aqua; */
    transition: all ease-in 0.9s 0.6  ;
    
}
#main #fimage img{
    width: 100%;
    height: 82vh;
    border-radius: 50px;
}

#main #simage{
    position: relative;
    width: 50%;
    height: 70vh;
    top: -400%;
    left: 44%;
    transition: all ease-in 0.8s 0.1s;
}
#main #simage img{
    width: 100%;
    height: 65vh;
    border-radius: 50px
}

#main nav{
    width: 100%;
    height: 10vh;
    background-color: #603601;
    display: flex;
    align-items: center;    
    color: white;
    border-radius: 50px;
    position: fixed;
    border: 1px solid white;
    transition: all ease 2.5s;
    z-index: 999;
}
#main nav #start ul{
    width: 140%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-left: 2vmax;
    letter-spacing: 1px;
    font-size: 1.3vmax;

}
#main nav #end{
    display: flex;
    margin-left: 2vmax;
}

#main nav #end ul{
    width: 70%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    /* margin-left: 16vmax; */
    letter-spacing: 1px;
    font-size: 1.3vmax;
}

#main nav #middle img{
    width: 38%;
    margin-left: 3.7vmax;
    margin-top: 1.8vmax;
}
#main nav #middle{
    /* background-color: blue; */
    width: 22%;
    margin-left: 18vmax;

}
#main nav #arrow{
    border-radius: 50px;
    border: 1.5px solid #423525;
    font-size: 2vmax;
}
#main nav #end ul li:nth-child(1){
    margin-right: 3vmax;
}

#main nav #end ul li:nth-child(2){
    margin-right: 3vmax;
}
#main nav #end ul li:nth-child(3){
    margin-right: 3vmax;
}

#main nav #end i{
    margin-right: 3vmax;
    font-size: 1.5vmax;
}

#main nav ul li:hover{
    cursor: pointer;
    /* color:  rgb(43,80,46); */
    border-bottom: 1px solid white;
}
#main nav ul li{
    transition: all ease 0.15s;
}
#main nav #arrow:hover{
    cursor: pointer;
} 

#main nav #end i:hover{
    /* color:   rgb(174,94,42) ; */
    cursor: pointer;
    transform: translateY(-5px);
}
#main #page1{
    width: 100%;
    height: 100%;
}

#main h1{
    position: relative;
    left: -100%;
    font-size: 2.8vmax;
    color: rgb(43,79,89);
    -webkit-text-stroke: 0.5px white;
    font-family: cursive;
    font-weight: 600;
    top: 10%;
    transition: all ease-in 0.8s 0.1s;
    z-index: 990;
    line-height: 5vmax;
    letter-spacing: 1px;
}

#main #text{
    position: relative;
    top: -100%;
    left: 74%;
    font-size: 2vmax;
    color: white;
    -webkit-text-stroke: 1px rgb(214,144,74);
    font-family: sans-serif;
    display: flex;
    line-height: 5vmax;
    z-index: 990;
    transition: all ease-in 0.8s 0.1s;
}
#main button{
    width: 90px;
    height: 90px;
    left: -100%;
    position: relative;
    top: -70%;
    border-radius: 50%;
    font-size: 1.5vmax;
    color: rgb(12,25,31);
    /* -webkit-text-stroke: 0.8px white; */
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    font-weight: 500;
    z-index: 990;
    transition: all ease-in 0.8s 0.1s;
}

/*  */
#main button:hover{
    cursor: pointer;
    background-color: #423525;
    color: white;
}

#main2{
    width: 100%;
    height: 100%;
    background-color: rgb(21,17,14);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#main2 h1{
    font-size: 3.5vmax;
    color: rgb(179,87,29);
    position: relative;
    top: -44%;
    right: -300%;
    border-radius: 50px;
    background-color: #fff;
    transition: all ease 1.2s 0.2s;
}

#main2 #page2{
    position: relative;
    top: 3%;
    left: -7%;
    width: 80%;
    height: 80%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main2 #page2 #c1{
    top: -400%;
    position: relative;
    width: 28%;
    height: 90%;
    /* background-color:chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease-in 1.2s 0.2s;
}

#main2 #page2 #c2{
    bottom:-400%;
    position: relative;
    width: 28%;
    height: 90%;
    /* background-color:chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease-in 1.2s 0.2s;
}

#main2 #page2 #c3{
    top: -400%;
    position: relative;
    width: 28%;
    height: 90%;
    /* background-color:chocolate; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease-in 1.2s 0.2s;
}

#main2 #page2 #c1 img{
    width: 100%;
    height: 90%;
}

#main2 #page2 #c2 img{
    width: 100%;
    height: 90%;
}

#main2 #page2 #c3 img{
    width: 100%;
    height: 90%;
}
#main2 #page2 h4{
    color: rgb(179,100,51);
    font-size: 1.4vmax;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main2 #page2 h4:hover{
    cursor: pointer;
}


#main #placeholder{
    width: 50%;
    height: 10vh;
    position: relative;
    top: -187%;
    left: 200%;
    /* background-color: blue; */
    transition: all ease-in 0.8s 0.1s;
}

#main #placeholder input{
    width: 100%;
    height: 10vh;
    border-radius: 50px;
    padding: 2vmax;
    border: 3px solid rgb(179,87,29);
    font-size: 1.5vmax;
}
#main #placeholder i{
    font-size: 3vmax;
    position: relative;
    top: -82%;
    left: 90%;
    color: rgb(75,46,47);
}
#main #placeholder i:hover{
    cursor: pointer;
    color: rgb(173,95,46);
}

#main3{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(21,17,14);
    overflow: hidden;
}

#main3 #shop{
    position: relative;
    top: 15%;
    width: 100%;
    height: 550px;
    /* background-color: white; */
    /* border-bottom: 2px solid rgba(162, 145, 145, 0.198); */
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* padding-top: 30px; */
    padding-left: 30px;
    
}
#main3 #shop::-webkit-scrollbar{
    display: none;
}


 #main3 #shop #items{
    width: 320px;
    height: 500px;
    /* background-color: red; */
    /* border-radius: 50%; */
    display: inline-block;
    border: 1px solid white;
    overflow: hidden;
    margin-right: 30px;
    

}



 #main3 #shop #items img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    
}

#main3 #shop #items h5{
    font-size: 2vmax;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    -webkit-text-stroke: 1.5px rgb(126,82,32);
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    width: 52%;
    /* background-color: aqua; */
}
#main3 #shop #items h5:hover{
    cursor: pointer;
    transition: all ease 0.1s;
    transform: translateY(-5px);
}

#main3 #shop #items #order{
    display: flex;
    align-items: center;
    width: 40%;
    /* background-color: #fff; */
    position: relative;
    top: 12%;
    left: 50%;
    font-size: 1.7vmax;
    color: #fff;
    transition: all ease 0.2s;
}

#main3 #shop #items h4{
    color: rgb(243,201,171);
    margin-right: 10px;
}

#main3 #shop #items #order:hover{
    cursor: pointer;
    -webkit-text-stroke: 0.4px rgb(0,24,36);
    transform: translateY(-5px);
}






